{% extends 'base.html' %}

{%block content%}
</br></br></br>
{%if request.user.is_authenticated%}

    <h1>Bienvenido a tu perfil! </h1>
    <h3>Hola, {{request.user.first_name}} {{request.user.last_name}} </h3>
    <h4>Tu poderoso correo es: {{request.user.email}}</h4>

    <p>Bio: {{request.user.perfil.bio}}</p>
    <p>Ocupación: {{request.user.perfil.ocupacion}}</p>
    <p>Estas dispuesto {{request.user.perfil.sexo}}</p>
    <p>Fecha de nacimiento: {{request.user.perfil.fecha_nacimiento}}</p>
{%else%}
<h1>Bienvenido, sabes que es sábado pero...</h1>
<h2>Porque no inicias poke-sesión?</h2>
{%endif%}
{%endblock content%}